body{
  background-color: whitesmoke;
}

.row {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
  margin-right: 100px;
}

.card {
  position: relative;
  padding: 20px;
  margin: 0px;
  border: 0px;
  background-color: #FFF;
  text-align: center;
  font-family: "montserrat";
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 200px;
  margin-left: 50px;
  margin-top: 20px;

}

.card h3 {
  margin-top: 0px;
  text-align: center;
  font-family: "montserrat";
  padding: 0px;
}

.card p {
  margin-bottom: 0px;
}

#charts{
  position: relative;
  padding: 0px;
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 10px;
}

#filtro {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 30px;
}

#filtro h6 {
  margin: 10px;
}

#filtro input {
  margin: 10px;
}

