body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0; 

}

#home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

#home img {
  flex: 1 1 30%;
  max-height: 250px;
  max-width: 270px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
  padding: 0;
}

#home p {
  flex: 2 1 60%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  min-height: 230px;  
  color: #333;
  text-align: justify;
  padding: 20px;
}

img {
  display: block;
  width: 100%;
  height: 450px;
  padding-bottom: 50px;
}